:root {
  --basis: 0.4rem;
  --basis_x0_2: calc(0.2 * var(--basis));
  --basis_x0_5: calc(0.5 * var(--basis));
  --basis_x2: calc(2 * var(--basis));
  --basis_x4: calc(4 * var(--basis));
  --basis_x8: calc(8 * var(--basis));
  --basis_x16: calc(16 * var(--basis));
  --basis_x32: calc(32 * var(--basis));
  --basis_x64: calc(64 * var(--basis));
}
