textarea,
input[type="text"] {
  min-width: 0px;
  outline: none;
  border: none;
  margin: var(--basis);
  font-size: var(--body-font-size);
}
textarea,
input[type="text"] {
  padding: var(--basis);
  background: var(--input-background);
  color: var(--on-background);
  box-shadow: inset 0 0 0 calc(0.2 * var(--basis)) var(--on-background);
}
textarea.inverted,
input[type="text"].inverted {
  background: var(--on-background);
  color: var(--input-background);
  box-shadow: inset 0 0 0 calc(0.2 * var(--basis)) var(--on-background);
}

textarea:focus,
input[type="text"]:focus {
  background: var(--input-background);
  color: var(--on-background);
  box-shadow: inset 0 0 0 calc(0.2 * var(--basis)) var(--on-background-contrast);
}
