.volt {
  & button {
    background: var(--v-secondary-color);
    border: none;
    border-radius: 1px;
    padding: 3px 10px;

    & span {
      color: var(--v-font-color-on-secondary);
    }

    &.primary {
      background: var(--v-primary-color);

      & span {
        color: var(--v-font-color-on-primary);
      }
    }

    &.secondary {
      background: transparent;
      border: 1px solid var(--v-primary-color);

      & span {
        color: var(--v-font-color);
      }
    }
  }
}
