select {
  min-width: 0px;
  outline: none;
  border: none;
  margin: var(--basis);
  font-size: var(--body-font-size);
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  font-weight: bold;
  transition: transform 0.2s ease;
  position: relative;
  cursor: pointer;
  padding: var(--basis) var(--basis_x2);

  --button-background: var(--on-background);
  --button-color: var(--constant-button-color);
  background: var(--button-background);
  color: var(--button-color);

  background-repeat: no-repeat;
  background-position-x: calc(100% - 6px);
  background-position-y: 50%;
  padding: var(--basis) calc(var(--basis_x2) + 14px) var(--basis) var(--basis_x2);

  background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
}
.volt.purple select {
  background-image: url("data:image/svg+xml;utf8,<svg fill='purple' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
}
