.volt,
.volt.default {
  --v-primary-color: var(--v-purple-500);
  --v-secondary-color: var(--v-white-300);

  --v-background: var(--v-white-100);

  --v-font-color: var(--v-purple-100);
  --v-font-color-on-primary: var(--v-white-100);
  --v-font-color-on-secondary: var(--v-purple-100);
}

.volt.purple {
  --v-primary-color: var(--v-white-100);
  --v-secondary-color: var(--v-white-200);

  --v-background: var(--v-purple-500);

  --v-font-color: var(--v-white-100);
  --v-font-color-on-primary: var(--v-purple-100);
  --v-font-color-on-secondary: var(--v-purple-100);
}


.volt {
  --background: var(--white);
  --background-rgb: var(--white-rgb);
  --background-contrast: var(--grey);
  --background-contrast-rgb: var(--grey-rgb);
  --on-background: var(--purple);
  --on-background-contrast: var(--purple-dark);

  --input-background: var(--background);
  --constant-button-color: var(--background);
}
.volt.purple {
  --background: var(--purple-dark);
  --background-rgb: var(--purple-dark-rgb);
  --background-contrast: var(--purple);
  --background-contrast-rgb: var(--purple-rgb);
  --on-background: var(--white);
  --on-background-contrast: var(--dark-grey);

  --input-background: var(--background);
  --constant-button-color: var(--background-contrast);
}

.volt {
  background: var(--background);
  color: var(--on-background);
}
